{% extends 'base.html' %}



{% block content %}
    <h3> Latest News </h3>
    {% for post in news %}
        <div class="news_post">
            <table>
                <tbody>
                    <tr>
                        <td class="created">
                            {{ post.created }}
                        </td>
                        <td class ="title">
                            {{ post.topic }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="body">
                            <pre>{{ post.body }}</pre>
                        <td>
                    </tr>
                    <tr>
                        <td>
                            {%if request.user.is_superuser %}
                            <a href="" onclick="deleteConfirm('{% url 'delete_news' post.id %}')"> Delete </a>&nbsp;&nbsp;&nbsp;
                            <a href=""> Edit </a>
                            {% endif %}
                        </td>

                        <td class="news_footer">
                            Posted by {{ post.author }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
