{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Yeon+Sung|Monoton&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/confirm.js' %}"></script>
    </head>
    <body style="line-height: 1.4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header">
                    <div class="login_info">
                    {% if request.user.is_authenticated %}
                            <span class="header_span">&nbsp;&nbsp;You are logged in as {{request.user.get_username}}</span>
                            <div style="display:inline-block; text-align: right;">
                                <a href= '{% url 'account_overview' %}'> My Account </a>
                                &nbsp;<a href='{% url 'user_logout' %}'><img title="Logout" src=" {% static 'img/logout.png' %}"/></a>
                            </div>
                    {% else %}

                            <span class="header_span"><a href="{% url 'user_login' %}"> Log in</a> or <a href='{% url 'create_account' %}'>create</a> an account</span>

                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                {% block left-menu %}
                    {% include 'global_site/left_menu.html' %}
                {% endblock %}
             </div>

            <div class="col-7">

                <div class="page_content">

                    {% if messages %}
                    <div class="alert alert-primary">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% block content %}

                {% endblock %}
                </div>
             </div>

            <div class="col-3">

                {% block right-menu %}
                    {% include 'global_site/right_menu.html' %}
                {% endblock %}

             </div>
        </div>




        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
</body>
</html>
