body {
    background: url("/global_site/img/bg.jpg") 59% 0 no-repeat fixed;
    background-color: #051122;
}
.right-menu .row{
  border-bottom: 1px solid grey;
  padding-top: 3px;

  margin:auto;

}
h1, h2, h3 {
    font-family: Monoton;
    padding-bottom: 20px;
}
.header div {
    background: rgba(0,0,0,.3);
}
.header_span {
    background: url("/global_site/img/black.jpg") 50% repeat;

}
.account_info {
    width: 80%;
}
.account_info table {
    table-layout: auto;
}
.account_info tr {
    border-bottom: 1px black solid;
}
.account_info td.left {
    background: rgba(0,0,0,.3);
    border-right: 1px grey solid;
    width: auto;
}
.account_info td.right {
    text-align: right;
}
.account_info td.middle {
    text-align: left;
    padding-left: 10%;
}
.page_content {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 90%;
}
.right-menu {
    min-height: 200px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 90%;
}
.login_info {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #d7d7b6;
    color:#d7d7b6;
    margin-bottom: 10px;
}
.login_info a:link, a:visited {
    color: #72a4d8;
    text-decoration: none;
}
.login_info a:hover {
    color: white;
}
.login_info img {
    max-width: 70%;
    height: auto;
}
.content_header3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.character_list li {
    padding:2px;
    list-style-position: outside;
    border-bottom: 1px solid black;
}
.character_list li:nth-child(odd) { background: #e2ded9; }

.footer {
    font-family: 'Libre Barcode 39 Extended', cursive;
}
