{% extends 'base.html' %}



{% block content %}
    <h2> Account overview </h2>

    <div class="content">
        <div class="row">
            <div class="col">
            Your account was created on: {{ account.date_joined }}
            </div>
            <div class="col">
                You last logged in on: {{ account.last_login }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="content_header3">Characters:</h3>
                <ul class="character_list">
                {% for character in characters %}

                    <li><div class="row">



                    <div class="col-md-8">
                         {{character.name}} &nbsp &nbsp
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="{% url 'view_character' character.name %}"> View </a>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href=" {% url 'delete_character' character.name %}"> Delete</a> &nbsp &nbsp

                    </div>
                    </div>
                    </li>

                {% endfor %}
                </ul>
                <a href="{% url 'create_character' %}">Create</a>
            </div>
        </div>
    </div>
{% endblock %}
